{{- $params := .Params | merge .Site.Params.page -}}
<article class="single summary" itemscope itemtype="http://schema.org/Article">
    {{- /* Featured image */ -}}
    {{- with $params.featuredimage -}}
        <div class="featured-image-preview">
            <a href="{{ $.RelPermalink }}">
                {{- $image := $params.featuredimagepreview | default . -}}
                {{- dict "src" $image "alt" $.Description "large" true | partial "plugin/image.html" -}}
            </a>
        </div>
    {{- end -}}

    {{- /* Title */ -}}
    <h1 class="single-title" itemprop="name headline">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h1>

    {{- /* Meta */ -}}
    <div class="post-meta">
        {{- $author := $params.author | default .Site.Author.name | default (T "author") -}}
        {{- $authorLink := $params.authorlink | default .Site.Author.link | default .Site.Home.RelPermalink -}}
        {{- $publish_date := .PublishDate.Format (.Site.Params.dateFormat | default "2006-01-02") -}}
	<i class="far fa-calendar-alt fa-fw"></i><time datetime={{ $publish_date }}>{{ $publish_date }}</time>&nbsp;
	<i class="far fa-clock fa-fw"></i>{{ T "readingTime" .ReadingTime }}&nbsp;
        {{- with .Params.categories -}}
            &nbsp;
            <span class="post-category">
                {{- range $index, $value := . -}}
                    {{- if gt $index 0 }}&nbsp;{{ end -}}
                    {{- $category := $value | anchorize | printf "/categories/%s" | $.Site.GetPage -}}
                    <a href="{{ $category.RelPermalink }}">
                        <i class="far fa-folder fa-fw"></i>{{ $category.Title }}
                    </a>
                {{- end -}}
            </span>
        {{- end -}}
    </div>

    {{- /* Summary content */ -}}
    <div class="content">
        {{- with .Summary -}}
            {{- dict "content" . "ruby" $params.ruby "fraction" $params.fraction "fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}
        {{- else -}}
            {{- .Description | safeHTML -}}
        {{- end -}}
    </div>

    {{- /* Footer */ -}}
    <div class="post-footer">
        <a href="{{ .RelPermalink }}">{{ T "readMore" }}</a>
        {{- with .Params.tags -}}
            <div class="post-tags">
                {{- range $index, $value := . -}}
                    {{- if gt $index 0 }}&nbsp;&nbsp;{{ end -}}
                    {{- $tag := $value | anchorize | printf "/tags/%s" | $.Site.GetPage -}}
                    <a href="{{ $tag.RelPermalink }}"><i class="fas fa-tag fa-fw"></i> {{ $tag.Title }}</a>
                {{- end -}}
            </div>
        {{- end -}}
    </div>
</article>
